<div class="wrapper">
  <div class="container">
    <h2>Our projects</h2>
    <p>
      Specializing in After Hours and Weekend service. <br />
      We give you the service you need when you need it.
    </p>
    <swiper class="swiper" [config]="options">
      <div class="swiper__card">
        <img src="../../../../../assets/images/projects/1.svg" alt="" />
        <div class="swiper__overlay">
          <div class="swiper__overlay__content">
            <h4>
              Le Pen slams 'banking fatwa' against National Front after accounts
              closed
            </h4>
            <p>
              French far-right leader Marine Le Pen on Wednesday said she would
              take banking giants HSBC and Societe Generale to court for
              discrimination after they moved to close her personal and party
              accounts.
            </p>
            <p>
              French far-right leader Marine Le Pen on Wednesday said she would
              take banking giants HSBC and Societe Generale to court for
              discrimination after they moved to close her personal and party
              accounts.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper__card">
        <img src="../../../../../assets/images/projects/1.svg" alt="" />
        <div class="swiper__overlay">
          <div class="swiper__overlay__content">
            <h4>
              Le Pen slams 'banking fatwa' against National Front after accounts
              closed
            </h4>
            <p>
              French far-right leader Marine Le Pen on Wednesday said she would
              take banking giants HSBC and Societe Generale to court for
              discrimination after they moved to close her personal and party
              accounts.
            </p>
            <p>
              French far-right leader Marine Le Pen on Wednesday said she would
              take banking giants HSBC and Societe Generale to court for
              discrimination after they moved to close her personal and party
              accounts.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper__card">
        <img src="../../../../../assets/images/projects/1.svg" alt="" />
        <div class="swiper__overlay">
          <div class="swiper__overlay__content">
            <h4>
              Le Pen slams 'banking fatwa' against National Front after accounts
              closed
            </h4>
            <p>
              French far-right leader Marine Le Pen on Wednesday said she would
              take banking giants HSBC and Societe Generale to court for
              discrimination after they moved to close her personal and party
              accounts.
            </p>
            <p>
              French far-right leader Marine Le Pen on Wednesday said she would
              take banking giants HSBC and Societe Generale to court for
              discrimination after they moved to close her personal and party
              accounts.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper__card">
        <img src="../../../../../assets/images/projects/1.svg" alt="" />
        <div class="swiper__overlay">
          <div class="swiper__overlay__content">
            <h4>
              Le Pen slams 'banking fatwa' against National Front after accounts
              closed
            </h4>
            <p>
              French far-right leader Marine Le Pen on Wednesday said she would
              take banking giants HSBC and Societe Generale to court for
              discrimination after they moved to close her personal and party
              accounts.
            </p>
            <p>
              French far-right leader Marine Le Pen on Wednesday said she would
              take banking giants HSBC and Societe Generale to court for
              discrimination after they moved to close her personal and party
              accounts.
            </p>
          </div>
        </div>
      </div>
    </swiper>
  </div>
</div>
