<div class="sidebar">
  <h5>Most Read</h5>
  <hr />
  <div class="sidebar__links">
    <a href="">
      <h6>
        Le Pen slams 'banking fatwa' against National Front after accounts
        closed
      </h6>
    </a>
    <a href="">
      <h6>
        Le Pen slams 'banking fatwa' against National Front after accounts
        closed
      </h6>
    </a>
    <a href="">
      <h6>
        Le Pen slams 'banking fatwa' against National Front after accounts
        closed
      </h6>
    </a>
    <a href="">
      <h6>
        Le Pen slams 'banking fatwa' against National Front after accounts
        closed
      </h6>
    </a>
    <a href="">
      <h6>
        Le Pen slams 'banking fatwa' against National Front after accounts
        closed
      </h6>
    </a>
  </div>
</div>
