@import "styles";

.wrapper {
  background-color: white;
  .container {
    text-align: center;
    padding: 6rem 1rem;
    color: $primary-color;
    h2 {
      text-transform: uppercase;
    }

    @include media-breakpoint-down(sm) {
      padding: 2rem 1rem;
      padding-bottom: 1rem;
    }
  }
}
