<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img
          class="rb-border"
          src="../../../../../assets/images/single-project/1.svg"
          alt=""
        />
      </div>
      <div class="col-md-6 col-sm-12 flex-center">
        <h3>Steigenberger Hotel El Lessan</h3>
        <p>Year : 2019</p>
        <p>
          Located in Ras El Bar, Al Lisan Steinberger Hotel offers a bar and a
          terrace. This 5-star hotel also has a restaurant and air-conditioned
          rooms with free Wi-Fi. They all have a private bathroom, in addition
          to an outdoor swimming pool, a fitness center, a 24-hour front desk
          and evening entertainment events.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 flex-center">
        <h5>Project Overview</h5>
        <p>
          To become the leading ready-mixed concrete company in the Egyptian
          market and a reliable supplier of modern building solutions.
        </p>
        <p>
          This 5-star hotel also has a restaurant and air-conditioned rooms with
          free Wi-Fi. They all have a private bathroom, in addition to an
          outdoor swimming pool, a fitness center, a 24-hour front desk and
          evening entertainment events.
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <img
          class="tl-border p-2"
          src="../../../../../assets/images/single-project/2.svg"
          alt=""
        />
      </div>

      <div class="col mb-3">
        <h5>Raw materials for the project</h5>
        <p>
          The control of the product is carried out through the first steps to
          selecting the excellent quality materials.
        </p>
        <p>
          The materials are selected according to international standards and
          the requirements of the Egyptian Code, and the largest and best
          international companies are dealt with to supply raw materials in
          Egypt.
        </p>
        <ul>
          <li>
            Cement : From Arab Cement Company - CEMEX - Lafarge - El Arish -
            Beni Suef - Sinai
          </li>
          <li>
            Additions : From Sika Company - BASF - AIMC - Chemicals for Modern
            Building
          </li>
          <li>Rubble : From Ataqa Company (Al-Daly - Egyptian - Al-Salam)</li>
        </ul>
      </div>

      <div class="col-md-12 mb-4">
        <img src="../../../../../assets/images/single-project/3.svg" alt="" />
      </div>
      <div class="col-md-12">
        <p>
          One of the branches of Al-Muddathir Group of Companies for Trade,
          Investment and Contracting.
        </p>
        <p>
          One of the leading companies in the field of ready-mixed concrete in
          the Egyptian market.
        </p>
        <p>
          It was established in 2015 with the aim of meeting all the needs of
          its customers from concrete, to be an essential partner in the supply
          and production of concrete and providing advanced and sustainable
          solutions for the ready-mixed concrete industry in Egypt.
        </p>
        <p>
          The company started establishing its first plant in the East Delta in
          Damietta, and within two years the company expanded in (Cairo - Port
          Said - New Mansoura) committed to international standards of
          production and quality control of ready-mixed concrete.
        </p>
        <p>
          One of the branches of Al-Muddathir Group of Companies for Trade,
          Investment and Contracting.
        </p>
        <p>
          One of the leading companies in the field of ready-mixed concrete in
          the Egyptian market.
        </p>
        <p>
          It was established in 2015 with the aim of meeting all the needs of
          its customers from concrete, to be an essential partner in the supply
          and production of concrete and providing advanced and sustainable
          solutions for the ready-mixed concrete industry in Egypt
        </p>
        <p>
          The company started establishing its first plant in the East Delta in
          Damietta, and within two years the company expanded in (Cairo - Port
          Said - New Mansoura) committed to international standards of
          production and quality control of ready-mixed concrete.
        </p>
      </div>
    </div>
  </div>
</div>
