<img
  class="logo"
  src="../../../../assets/images/modather-logo.png"
  alt="Modather-group"
/>
<button type="button" class="close" (click)="close()">
  <span>&times;</span>
</button>
<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/products">Products</a></li>
  <li><a routerLink="/press">Press</a></li>
  <li><a routerLink="/blog">Blog</a></li>
  <li><a routerLink="/about">About</a></li>
  <li><a href="">AR</a></li>
</ul>

<div class="flex-grow-1"></div>

<div class="col">
  <a routerLink="/">
    <fa-icon size="2x" [icon]="['fab', 'twitter']"> </fa-icon>
  </a>

  <a routerLink="/">
    <fa-icon size="2x" [icon]="['fab', 'facebook']"></fa-icon>
  </a>

  <a routerLink="/">
    <fa-icon size="2x" [icon]="['fab', 'instagram']"></fa-icon>
  </a>

  <a routerLink="/">
    <fa-icon size="2x" [icon]="['fab', 'youtube']"></fa-icon>
  </a>
</div>
