<img
  class="logo"
  src="../../../../assets/images/modather-logo.png"
  alt="Modather-group"
/>
<button type="button" class="close" (click)="close()">
  <span>&times;</span>
</button>
<ul>
  <li><a (click)="navigateTo('/')">Home</a></li>
  <li><a (click)="navigateTo('/projects')">Projects</a></li>
  <li><a (click)="navigateTo('/press')">Press</a></li>
  <li><a (click)="navigateTo('/blog')">Blog</a></li>
  <li><a (click)="navigateTo('/about')">About</a></li>
  <li><a href="">AR</a></li>
</ul>

<div class="flex-grow-1"></div>

<div class="social">
  <a routerLink="/">
    <fa-icon size="2x" [icon]="['fab', 'twitter']"> </fa-icon>
  </a>

  <a routerLink="/">
    <fa-icon size="2x" [icon]="['fab', 'facebook']"></fa-icon>
  </a>

  <a routerLink="/">
    <fa-icon size="2x" [icon]="['fab', 'instagram']"></fa-icon>
  </a>

  <a routerLink="/">
    <fa-icon size="2x" [icon]="['fab', 'youtube']"></fa-icon>
  </a>
</div>
