@import "styles";

.members {
  text-align: center;
  background-color: white;
  h3 {
    margin-bottom: 2em;
    text-transform: uppercase;
    color: $primary-color;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
      margin-bottom: 1em;
    }
  }
  .container {
    .members__images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 1.5em;
      img {
        flex: 1 1 200px;
        &:not(:last-child) {
          margin-right: 1em;
        }
      }
      // figure {
      //   &:nth-child(1) {
      //     border-bottom: 5px solid $primary-color;
      //   }
      // }
    }
  }
}
