<div class="wrapper">
  <h2>Members</h2>
  <div class="container">
    <swiper class="swiper-container" [config]="options">
      <figure>
        <img src="../../../../../assets/images/members/2.png" alt="" />
        <figcaption>
          <p>Adel Ghorab</p>
          <p>CEO</p>
        </figcaption>
      </figure>
      <figure>
        <img src="../../../../../assets/images/members/2.png" alt="" />
        <figcaption>
          <p>Adel Ghorab</p>
          <p>CEO</p>
        </figcaption>
      </figure>
      <figure>
        <img src="../../../../../assets/images/members/2.png" alt="" />
        <figcaption>
          <p>Adel Ghorab</p>
          <p>CEO</p>
        </figcaption>
      </figure>
      <figure>
        <img src="../../../../../assets/images/members/2.png" alt="" />
        <figcaption>
          <p>Adel Ghorab</p>
          <p>CEO</p>
        </figcaption>
      </figure>
      <figure>
        <img src="../../../../../assets/images/members/2.png" alt="" />
        <figcaption>
          <p>Adel Ghorab</p>
          <p>CEO</p>
        </figcaption>
      </figure>
      <figure>
        <img src="../../../../../assets/images/members/2.png" alt="" />
        <figcaption>
          <p>Adel Ghorab</p>
          <p>CEO</p>
        </figcaption>
      </figure>
      <figure>
        <img src="../../../../../assets/images/members/2.png" alt="" />
        <figcaption>
          <p>Adel Ghorab</p>
          <p>CEO</p>
        </figcaption>
      </figure>
      <figure>
        <img src="../../../../../assets/images/members/2.png" alt="" />
        <figcaption>
          <p>Adel Ghorab</p>
          <p>CEO</p>
        </figcaption>
      </figure>
      <figure>
        <img src="../../../../../assets/images/members/2.png" alt="" />
        <figcaption>
          <p>Adel Ghorab</p>
          <p>CEO</p>
        </figcaption>
      </figure>
      <figure>
        <img src="../../../../../assets/images/members/2.png" alt="" />
        <figcaption>
          <p>Adel Ghorab</p>
          <p>CEO</p>
        </figcaption>
      </figure>
      <figure>
        <img src="../../../../../assets/images/members/2.png" alt="" />
        <figcaption>
          <p>Adel Ghorab</p>
          <p>CEO</p>
        </figcaption>
      </figure>
    </swiper>
  </div>
</div>
