@import "styles";

.wrapper {
  text-align: center;
  background-color: white;
  h2 {
    margin-bottom: 1em;
    text-transform: uppercase;
    color: $primary-color;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
      margin-bottom: 1em;
    }
  }

  .container {
    .swiper-container {
      figure {
        padding-bottom: 1.5rem;
        img {
          height: 200px;
          margin-bottom: 10px;
          border-radius: 25px;

          @include media-breakpoint-down(sm) {
            height: 170px;
          }
        }

        figcaption {
          p {
            font-weight: bold;
            margin: 0;
          }
        }
      }
    }
  }
}
