<div class="members">
  <h3>Members</h3>
  <div class="container">
    <figure>
      <img src="../../../../../assets/images/members/1.png" alt="" />
      <figcaption>
        <p>Shervin Mashayekh</p>
        <p>Addictive Product Manager</p>
      </figcaption>
    </figure>
    <figure>
      <img src="../../../../../assets/images/members/2.png" alt="" />
      <figcaption>
        <p>Shervin Mashayekh</p>
        <p>Addictive Product Manager</p>
      </figcaption>
    </figure>
    <figure>
      <img src="../../../../../assets/images/members/3.png" alt="" />
      <figcaption>
        <p>Shervin Mashayekh</p>
        <p>Addictive Product Manager</p>
      </figcaption>
    </figure>
    <figure>
      <img src="../../../../../assets/images/members/4.png" alt="" />
      <figcaption>
        <p>Shervin Mashayekh</p>
        <p>Addictive Product Manager</p>
      </figcaption>
    </figure>
    <figure>
      <img src="../../../../../assets/images/members/5.png" alt="" />
      <figcaption>
        <p>Shervin Mashayekh</p>
        <p>Addictive Product Manager</p>
      </figcaption>
    </figure>
  </div>
</div>
