@import "bootstrap";
@import "~@angular/cdk/overlay-prebuilt";

$primary-color: #0d004f;
$secondary-color: #fa6400;

body {
  font-family: Helvetica, serif;
  background-image: url("../assets/images/page-bg.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

.loading-placeholder {
  position: relative;
  overflow: hidden;
  background-color: $gray-100;
  &::after {
    content: "";
    display: block;
    background-color: $gray-200;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    animation: 1.5s loading-placeholder ease-in-out infinite;
  }
}

@keyframes loading-placeholder {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
