@import "styles";

.container {
  margin-top: 2em;
  background-color: white;
  text-align: center;
  padding: 2em 8em;

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    font-size: 1.2rem;
    padding: 0.8em 1.5em;
  }

  h3 {
    color: $primary-color;
    margin-bottom: 1em;

    @include media-breakpoint-down(sm) {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
  p {
    font-size: 1.1em;
    color: gray;

    @include media-breakpoint-down(sm) {
      font-size: 0.8em;
    }
  }
}
