<div class="products_section">
  <div class="container">
    <div class="row">
      <h2>Our Products</h2>
      <section>
        <figure>
          <img src="../../../../../assets/images/products/2.png" alt="" />
        </figure>
        <figure>
          <img src="../../../../../assets/images/products/2.png" alt="" />
        </figure>
        <figure>
          <img src="../../../../../assets/images/products/2.png" alt="" />
        </figure>
        <figure>
          <img src="../../../../../assets/images/products/2.png" alt="" />
        </figure>
      </section>
    </div>
  </div>
</div>
