@import "styles";

.wrapper {
  background: linear-gradient(
    0deg,
    rgba(189, 189, 189, 0.8) 0%,
    rgba(250, 249, 249, 0.8) 75%,
    rgba(255, 131, 0, 0.2) 100%
  );
  padding-top: 1rem;

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }

  .container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
