<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/">Self Definition</a></li>
          <li><a routerLink="/">Procedures</a></li>
          <li><a routerLink="/">Offline Stores</a></li>
          <li><a routerLink="/">Our Valued Customers</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Help</h4>
        <ul>
          <li><a routerLink="/">Payments</a></li>
          <li><a routerLink="/">Shipping</a></li>
          <li><a routerLink="/">Cancellation & Returns</a></li>
          <li><a routerLink="/">FAQ</a></li>
          <li><a routerLink="/">Measurement Process</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Contact Us</h4>
        <ul>
          <li><a routerLink="/">About Us</a></li>
          <li><a routerLink="/">Contact</a></li>
          <li><a routerLink="/">Work with Us</a></li>
          <li><a routerLink="/">Privacy Policy</a></li>
          <li><a routerLink="/">Terms & Conditions</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h4>Newsletter</h4>
        <p>
          Our small subscribers get the inside scoop on new products,
          promotions, contests, and more. Sign up, it's right thing to do.
        </p>
      </div>

      <div class="col">
        <a routerLink="/">
          <fa-icon size="2x" [icon]="['fab', 'twitter']"> </fa-icon>
        </a>

        <a routerLink="/">
          <fa-icon size="2x" [icon]="['fab', 'facebook']"></fa-icon>
        </a>

        <a routerLink="/">
          <fa-icon size="2x" [icon]="['fab', 'instagram']"></fa-icon>
        </a>

        <a routerLink="/">
          <fa-icon size="2x" [icon]="['fab', 'youtube']"></fa-icon>
        </a>
      </div>

      <hr />
    </div>
  </div>
</div>
