@import "styles";

.footer {
  background-color: $primary-color;
  padding-top: 1.5em;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .row {
    color: white;
    transition: all 0.5s ease-in-out;

    h4 {
      margin-bottom: 0.9em;
      font-size: 1rem;
      font-weight: bold;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0.3em;
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        font-size: 0.7rem;
        margin-bottom: 0.5em;
        a {
          color: white;
          text-decoration: none;

          &:hover {
            transition: all 0.5s ease-in-out;
            color: $secondary-color;
            text-decoration: underline;
          }
        }
      }
    }

    .col {
      margin-top: 1.5em;
      text-align: center;
      padding-bottom: 1.2em;
      font-size: 1rem;

      a {
        color: white;
        text-decoration: none;
        margin-right: 1.2em;

        &:hover {
          transition: all 0.5s ease-in-out;
          color: $secondary-color;
        }
      }
    }
  }
}
