<app-projects-header></app-projects-header>
<div class="wrapper">
  <div class="container">
    <h6>2020</h6>
    <div class="wrapper-1">
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/2.svg'"
      ></app-project-card>
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/3.svg'"
      ></app-project-card>
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/5.svg'"
      ></app-project-card>
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/5.svg'"
      ></app-project-card>
    </div>
    <h6>2019</h6>
    <div class="wrapper-1">
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/2.svg'"
      ></app-project-card>
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/3.svg'"
      ></app-project-card>
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/5.svg'"
      ></app-project-card>
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/5.svg'"
      ></app-project-card>
    </div>
    <h6>2018</h6>
    <div class="wrapper-1">
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/2.svg'"
      ></app-project-card>
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/3.svg'"
      ></app-project-card>
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/5.svg'"
      ></app-project-card>
      <app-project-card
        [imageUrl]="'../../../../../../assets/images/projects/5.svg'"
      ></app-project-card>
    </div>
  </div>
</div>
