@import "styles.scss";

:host {
  display: block;
  position: relative;
  background-color: $primary-color;
  background-image: url("../../../../assets/images/header-bg-1.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60% 100%;
  background-blend-mode: multiply;
  color: white;
  padding-bottom: 4rem;
  .floating-container {
    position: relative;
  }

  &.floating {
    .floating-container {
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      animation: fadeIn 0.2s forwards;
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
