<div class="sidebar">
  <h5>Upcoming projects</h5>
  <hr />
  <div class="sidebar__grid">
    <div class="sidebar__card">
      <img src="../../../../../assets/images/upcoming projects/1.svg" alt="" />
      <div class="card-content">
        <p>Start at: <span>15th Jan</span></p>
        <a href="">
          <h6>By the numbers: The Trump orbit's contacts with other people.</h6>
        </a>
      </div>
    </div>
    <div class="sidebar__card">
      <img src="../../../../../assets/images/upcoming projects/1.svg" alt="" />
      <div class="card-content">
        <p>Start at: <span>15th Jan</span></p>
        <a href="">
          <h6>By the numbers: The Trump orbit's contacts with other people.</h6>
        </a>
      </div>
    </div>
    <div class="sidebar__card">
      <img src="../../../../../assets/images/upcoming projects/1.svg" alt="" />
      <div class="card-content">
        <p>Start at: <span>15th Jan</span></p>
        <a href="">
          <h6>By the numbers: The Trump orbit's contacts with other people.</h6>
        </a>
      </div>
    </div>
    <div class="sidebar__card">
      <img src="../../../../../assets/images/upcoming projects/1.svg" alt="" />
      <div class="card-content">
        <p>Start at: <span>15th Jan</span></p>
        <a href="">
          <h6>By the numbers: The Trump orbit's contacts with other people.</h6>
        </a>
      </div>
    </div>
  </div>
</div>
